checkmark_stars
dollars_cents
dweight
fahrenheit
polynomial
pun
smallest_change
sphere_vol
loan_calculator
date
isbn
phone_number
product_info
reverse
printf
octal
ean
upc
digit_count
time_convert
wind_speed
broker
chapter_6/examples/count_digits
chapter_6/examples/print_table_of_squares
chapter_6/examples/sum_series_of_numbers
chapter_6/exercises/6.2_gcd.exe
chapter_6/exercises/6.3_fraction.exe
