checkmark_stars
dollars_cents
dweight
fahrenheit
polynomial
pun
smallest_change
sphere_vol
loan_calculator
date
isbn
phone_number
product_info
reverse
printf
octal
ean
upc
digit_count
time_convert
wind_speed
broker
chapter_6/examples/count_digits
chapter_6/examples/print_table_of_squares
chapter_6/examples/sum_series_of_numbers
chapter_6/exercises/6.2_gcd.exe
chapter_6/exercises/6.3_fraction.exe
chapter_6/exercises/6.4_broker_loop.exe
chapter_6/exercises/6.5_general_digits_reversed.exe
chapter_6/exercises/6.6_print_squares.exe
chapter_6/exercises/6.7_square3_rewrite.exe
chapter_6/exercises/6.8_calendar.exe
chapter_6/exercises/6.9_loan_calculator_looped.exe
chapter_6/exercises/6.11_approximating_euler.exe
chapter_6/exercises/6.12_modified_euler_prox.exe
chapter_7/exercises/7.1_square2_rewrite.exe
chapter_7/exercises/7.2_squares_pause.exe
chapter_7/exercises/7.4_alphabetic_to_phone_num.exe
chapter_7/exercises/7.5_scrabble.exe
chapter_7/exercises/7.6_sizeof.exe
chapter_7/exercises/7.7_operators.exe
chapter_7/exercises/7.11_first_lastname.exe
chapter_7/exercises/7.12_expression_eval.exe
chapter_7/exercises/7.13_avg_word_len.exe
